@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* comment */
a {
    text-decoration: none;
}
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    font-size: 1.4rem;
    padding: 18px 16px;
    text-align: center;
    min-width: 98px;
    font-weight: 500;
    border-radius: 12px;
    color: #ffffff;
    background: var(--primary-color);
}

.btn:hover {
    opacity: 0.9;
}
/* header */
main {
    /* overflow-x: hidden; */
}

header {
    background-color: #e6f0ff;
    padding-top: 26px;
    position: sticky;
    top: -26px;
    z-index: 100;
}

.header-wrap {
    position: relative;
    background-color: #e6f0ff;
    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 46px;
    padding: 12px 0;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar ul a {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 8px 14px;
    color: #4f5361;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .actions {
    margin-left: auto;
}

.action-link {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary-color);
}

.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

/* content */

.header-wrap .info {
    width: 51%;
}

.header-wrap .desc-title {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.01em;
    line-height: 1.5;
    color: #687690;
}

.header-wrap .title {
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.19;
    margin-top: 8px;
    color: #000336;
}

.header-wrap .desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    max-width: 550px;
    margin-top: 30px;
    color: #5a6473;
}

.hero-cta {
    margin-top: 40px;
    min-width: 170px;
}

.hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}

/* works */
/* text  */
.desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 20px;
    color: #7d8589;
}

.works {
}

.m-t {
    margin-top: 79px;
    padding-top: 43px;
}
.works-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.works .img-stars {
}

.desc {
    margin-top: 23px;
}

.m-t-9 {
    margin-top: 70px;
}

.works .works-content {
    text-align: center;
    margin: 40px auto 41px;
    padding: 93px 0 79px;
}

h2 {
    font-weight: 600;
    font-size: 3.5rem;
    color: #000339;
}

.sub-title {
    text-align: center;
    position: relative;
}

.sub-title::before {
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    top: -10px;
    width: 41px;
    height: 4px;
    background: var(--primary-color);
    border-radius: 12px;
}

.works .works-content .desc {
    margin: 20px auto 0;
    max-width: 41%;
    text-align: center;
}

.works .works-img {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    column-gap: 140px;
}

.works .img-item {
    text-align: center;
}

.works .desc-title {
    margin-top: 26px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.2;
    text-align: center;
    color: #3b3c45;
}

.work-view {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.1;
    margin-top: 10px;
    text-align: center;
    color: #0689ff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.how-view {
    margin-left: 8px;
}

.properties {
    background-color: #f5fafe;
}

.properties .sub-heading {
    padding-top: 110px;
}

.properties .works-container {
    margin-top: 15px;
}

.works-container .product img {
    width: 100%;
}
.works-container .product {
    display: flex;
    align-items: center;
    padding: 0 42px;
    height: 90px;
}

.works-container .product:hover {
    box-shadow: 0px 45px 80px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
}

.works .work-btn {
    margin-top: 50px;
}

.properties-sub {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.7;
    margin-top: 0;
}

.properties-desc {
    margin-top: 0;
}

.properties-lists {
    margin-top: 70px;
    display: flex;
    width: 100%;
    padding-bottom: 110px;
    gap: 30px;
}

.properties-item .properties-img {
    height: 227px;
    width: 100%;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
}

.properties-item {
    background-color: #fff;
    border-radius: 12px;
    display: block;
    flex: 1;
}

.properties-container {
    padding: 20px 20px 22px;
}
.properties-pri a {
    font-weight: 600;
    font-size: 2rem;
    color: var(--primary-color);
}

.properties-desc {
    font-weight: 500;
    font-size: 1.4rem;
    margin: 8px 0 21px;
    color: #a3a6ab;
    line-height: 1.5;
}

.line-clamp {
    -webkit-line-clamp: var(--clam-line, 2);
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.properties-content {
    display: flex;
    align-items: center;
}

.found .content {
    width: 1048px;
}

.found-up,
.found-content {
    width: 50%;
}
.properies-icon {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #4d4d52;
}

.properies-icon img {
}

.properies-icons + .properies-icons {
    padding: 0 12px;
}

/* found */
.found {
    background-color: #fff;
}

.found-body {
    padding-bottom: 50px;
}

.found-container {
    margin: 75px 0 100px;
    display: flex;
    padding-top: 61px;
    justify-content: center;
}

.found-container .found-content {
    max-width: 309px;
    margin-left: 151px;
}

.found-container .found-img {
    position: relative;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
    display: block;
    margin-left: auto;
}
.found-title {
    position: relative;
}
.found-title::before {
    position: absolute;
    content: "";
    top: -10px;
    width: 41px;
    height: 4px;
    background: var(--primary-color);
    border-radius: 12px;
}

.found-container .desc {
    line-height: 1.88;
    font-weight: 400;
}

.found-up {
    position: relative;
}

.found-grow {
    position: absolute;
    top: 0;
    left: 7%;
    width: 239px;
    padding: 45px 22px 40px;
    background-color: #fff;
    border-radius: 0 0 12px 12px;
}

.found-number {
    display: flex;
    justify-content: space-between;
}

.found-text {
    margin: 8px 0 25px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #a7a7a7;
}

.saparate {
    height: 1.2px;
    background: #e9e9e9;
}

.found-user {
    display: flex;
    margin-top: 26px;
    flex-wrap: wrap;
    gap: 14px 16px;
}

.found-user-img {
    display: flex;
}

.found-user-img .avarta-user {
    width: 16px;
    height: 16px;
    margin-left: -3px;
    object-fit: cover;
    border-radius: 50%;
    z-index: 2;
    background: var(--bg-avarta, #fff);
    line-height: 16px;
    text-align: center;
    font-size: 0.8rem;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.found-user-img .avarta-user:first-child {
    margin-left: 0;
}

.found-number p {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: var(--primary-color);
}

.found-year {
    display: flex;
    justify-content: space-between;
    margin: 0 32px 50px;
}
.found-year span {
    font-weight: 600;
    font-size: 6.4rem;
    color: #000000;
}

.year-content p {
    font-weight: 500;
    font-size: 1.8rem;
    color: #7b8087;
    margin-top: 22px;
}

.found-pro {
    position: relative;
    display: flex;
    height: 370px;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 55px;
    background-color: #063183;
}

.found-pro-content {
    padding: 0 80px;
    width: 670px;
    max-width: 100%;
}

.found-title-pro {
    color: #fff;
}

.found-pro .desc {
    margin: 15px 0 20px;
    font-weight: 400;
    color: #ffffff;
    opacity: 0.75;
}
.found-pro img {
    position: absolute;
    right: 221px;
    bottom: 0;
}

.found-pro .btn {
    min-width: 151px;
    background: #ffffff;
    color: #002366;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.footer-link {
    display: block;
}

.footer-item h3 {
    margin-bottom: 23px;
    font-weight: 700;
    font-size: 2rem;
    line-height: 24px;
    color: #1c1c1d;
    font-family: "Lato";
}

.footer-link {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 24px;
    color: #7a7a7e;
    margin-bottom: 18px;
}

.link-description {
    max-width: 257px;
    line-height: 1.75;
    margin-bottom: 19px;
}

.footer-social {
    display: flex;
    text-align: center;
    align-items: center;
}

.footer-social a {
    display: inline-block;
    background: #f9f9f9;
    line-height: 28px;
    width: 28px;
    height: 28px;
    border-radius: 5px;
}
.footer-social-link + .footer-social-link {
    margin-left: 16px;
}

.footer-copy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 74px 0 58px;
}

.footer-desc {
    font-weight: 400;
    font-size: 1.4rem;
    color: #c2c2c2;
}
